{% include 'header.html' %}
<html>
  <head>
    {% load static %}
  </head>
  <body>
    <div
      class="mx-auto card shadow-lg p-3 mt-5 h-50 justify-content-center align-content-around flex-wrap col-md-3"
    >
      <h3>
        <a class="nav-link h1" href="/login/"
          ><span class="material-symbols-outlined"> login </span> Login</a
        >
      </h3>
      <h3>
        <a class="nav-link h1" href="/register/"
          ><span class="material-symbols-outlined"> person_add </span> Sign
          Up</a
        >
      </h3>
    </div>
  </body>
</html>
